<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /CRUD

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]*)/?(.*)$ ./index.php?c=$1&a=$2  [QSA,L]

</IfModule>